<!DOCTYPE html>
<html>
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
	crossorigin="anonymous" />

<meta charset="UTF-8">
<title>Pagina crea certificato</title>
</head>
<body>
	<nav th:insert="~{fragments/navigation :: block-navigation('Crea certificato')}"></nav>

	<div align="center" class="container">
		<p class="mt-4">Inserire dati relativi al socio</p>
		<form class="form-content" th:action ="@{saveCertificato(socioId=${socioId})}" th:object="${certificato}" method="post">
			<table>
				<tr>
					<td> <label for='tipo' class= 'form-label'>tipo:</label>	</td>
					<td><input type="text" th:field="*{tipo}" name="tipo" required placeholder="Agonistico / Normale"></td>
				</tr>
				<tr>
					<td> <label for='dataCertificato' class= 'form-label'>Data certificato:</label>	</td>
					<td><input type="date" th:field="*{dataCertificato}"name="dataCertificato" required ></td>
				</tr>
				<tr>
					<td> <label for='socioId' class= 'form-label'>socioId:</label>	</td>
					<td><input type="number" th:field="*{socioId}"name="socioId" value=${socioId} disabled></td>
				</tr>
			</table>
			<button type="submit" class="btn btn-primary mt-3">Invia</button>
		</form>
	</div>

</body>
</html>